# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.py[co]
local_settings.py
db.sqlite3
media/
staticfiles/
.DS_Store

# Environments
.env
env/
venv/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
