{% extends "auctions/layout.html" %}

{% block title %} Auction: {{ listing.title }} {% endblock %}

{% block numOfWatchlist %} {{ numOfWatchlist }} {% endblock %}

{% block body %}
    {% if message %}
        {% if updation %}
            <div class="alert alert-success my-2" role="alert">{{message}}</div>
        {% else %}
            <div class="alert alert-danger my-2" role="alert">{{message}}</div>
        {% endif %}
    {% endif %}

    {% if not listing.isActive and user == listing.price.bidder %}
        <div class="alert alert-success my-2" role="alert">
            Congratulation! You won the Auction.
        </div>
    {% endif %}

    <div class="d-flex m-3 p-3 justify-content-between">
        <h2>Listing: {{ listing.title }}</h2>
        {% if isInWatchlist %}
            <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"> Remove from Watchlist </button>
            </form>
        {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary"> Add to Watchlist </button>
            </form>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                <img src="{{ listing.imageURL }}" class="img-fluid rounded" alt="{{ listing.title }}" style="min-width: 300px; max-width: 400px">
            </div>
    
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center p-4">
                <div class="row mb-2">
                    <p class="fw-medium fs-4">Description:</p>
                    <p class="fw-normal fs-4 ps-3">{{ listing.description }}</p>
                </div>
                <div class="row mb-2">
                    <div class="col-12 d-flex align-items-center p-2">
                        <p class="fw-medium fs-4 mb-0">Owner/Lister:</p>
                        <p class="fw-normal fs-4 mb-0 ps-3">{{ listing.lister }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 d-flex align-items-center p-2">
                        <p class="fw-medium fs-4 mb-0">Price:</p>
                        <p class="fw-normal fs-4 mb-0 ps-3">${{ listing.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if listing.isActive %}
        {% if isOwner %}
            <form action="{% url 'closeBid' id=listing.id %}", method="POST" class="d-flex justify-content-center">
                {% csrf_token %}
                <div class="mt-4">
                    <input type="submit" class="btn btn-danger" value="Close listing">
                </div>
            </form>
        {% else %}
            <form action="{% url 'addBid' id=listing.id %}", method="POST" class="d-flex justify-content-center">
                {% csrf_token %}
                <div class="col-sm-4 mt-1">
                    <div class="input-group flex-nowrap px-5 pt-4">
                        <input type="number" min="0" class="form-control" placeholder="Enter Bid Price" name="addBid" aria-describedby="addon-wrapping">
                        <button type="submit" class="btn btn-success">Bid</button>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
    <form action="{% url 'addComment' id=listing.id %}", method="POST">
        {% csrf_token %}
        <div class="input-group flex-nowrap px-5 pt-4">
            <span class="input-group-text" id="addon-wrapping">Comments</span>
            <input type="text" class="form-control" placeholder="Add Comment" name="newComment" aria-describedby="addon-wrapping">
            <button type="submit" class="btn btn-success">Add Comment</button>
        </div>
    </form>

    <ul class="list-group px-5">
        {% for comment in allComments %}
            <li class="list-group-item"><strong>{{ comment.author }}: </strong>{{ comment.comment }}</li>
        {% endfor %}
      </ul>
    
    
{% endblock %}